@font-face {
    font-family: EncodeBold;
    src: url(EncodeBold.ttf);
}

@font-face {
    font-family: EncodeSemi;
    src: url(EncodeSemi.ttf);
}

@font-face {
    font-family: FarroReg;
    src: url(FarroReg.ttf);
}

@font-face {
    font-family: FarroLig;
    src: url(FarroLig.ttf);
}

@font-face {
    font-family: Exo;
    src: url(exo.ttf);
}

@font-face {
    font-family: medium;
    src: url(medium.ttf);
}

@font-face {
    font-family: regular;
    src: url(regular3.ttf);
}

body {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
}

.deze {
    width: 36.458333333333336vw;
    height: 3.125vw;
    background-color: rgba(0, 0, 0, 0.5);
    
    position: fixed;
    top: -1%;
    left: 50%;
    transform: translate(-50%, 0%)
}

.info {
	font-family: FarroReg;
	color: white;
	font-size: 1.0416666666666667vw;
	font-weight: 200;
	width: fit-content;
	
	position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%)
}

.box {
    width: 28vw;
    height: 11.2vw;
    background-color: rgba(0, 0, 0, 0.504);

    overflow: hidden;

    /* Senas triukas :D */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-bottom-left-radius: 1vh;
    border-top-right-radius: 1vh;

    border: solid 0.6vw rgba(0, 0, 0, 0.13);
}

.boxdelgrozio {
    position: fixed;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6vw 6vw 0;
    right: 0;
    border-color: transparent #00000059 transparent transparent;
}

.boxdelgroziodu {
    position: fixed;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6vw 0 0 6vw;
    left: 0;
    bottom: 0;
    border-color: transparent #00000059 transparent #00000059;
}

.boxinside {
    /* Senas triukas :D */
    position: fixed;
	
	width: 100%;
	height: 100%;
	
	transform: translateX(0%);
}

.netinka {
    -webkit-animation-name: netinkak;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}

@keyframes netinkak {
    0%   { position: fixed; left: 50%; }
    25%  { position: fixed; left: 52%; }
    50%  { position: fixed; left: 48%; }
    75%  { position: fixed; left: 52%; }
    100%  { position: fixed; left: 50%; }
}

.pavadinimas {
    font-family: regular;
    font-size: 1.2vw;
    color: rgb(235, 235, 235);

    position: fixed;
    font-weight: 100;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.holderis {
    color: rgb(219, 175, 31);
    font-size: 0.7vw;
    font-family: regular;
    font-weight: 100;

    position: fixed;
    top: 29%;
    left: 26%;
    transform: scaleX(0.94);
}

.slaptazodis {
    background-color: rgba(0, 0, 0, 0.185);
    outline: 0;
    border: 0;
    border-bottom: solid 0.09vw rgba(37, 37, 37, 0.562);
    padding-top: 0.7vw;
    height: 2vw;
    width: 13.6vw;
    color: rgb(224, 224, 224);
    font-size: 0.8vw;
    font-family: regular;
    padding-left: 0.4vw;

    position: fixed;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.akis {
    position: fixed;
    top: 43%;
    left: 68.8%;

    width: 1.3vw;
    transition: 0.2s;
    opacity: 1.0;
    image-rendering: -webkit-optimize-contrast;
}

.akis:hover {
    opacity: 0.5;
}

.informacijuke {
    color: rgb(219, 175, 31);
    font-size: 0.45vw;
    font-family: regular;
    font-weight: 100;

    position: fixed;
    top: 55.5%;
    left: 35.0%;
}

.informacijukesbox {
    position: fixed;
    top: 55.5%;
    left: 35.8%;
    height: 1vw;
    width: 11vw;

    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.185), transparent);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.342);
    font-family: regular;
    font-size: 0.7vw;
}

.mygtukas {
    width: 14vw;
    height: 2.6vw;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, rgba(210, 166, 11) 0%, rgba(247, 52, 208) 40%, rgba(210, 166, 11) 100%);
    transition: all 0.3s ease-in-out;
    color: rgb(245, 245, 245);
    font-family: medium;
    font-size: 0.95vw;
    outline: 0;
    border: 0;
    border-bottom-left-radius: 0.3vw;
    border-bottom-right-radius: 0.3vw;

    box-shadow: 0 0 1.6vh rgba(228, 141, 10, 0.719), 0 0 0.4vh rgba(228, 141, 10, 0.212);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 85%);
}

.mygtukas:hover {
    background-position: right center;
}

.slide {
    -webkit-animation-name: slidek;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}

@keyframes slidek {
    0%   { position: fixed; left: 50%; }
    50%  { position: fixed; left: 60%; }
    100%  { position: fixed; left: -30%; }
}

.linija {
    width: 0%;
    height: 0.15vw;
    background-size: 30vw 20vw;
    background-image: linear-gradient(to right, rgba(210, 166, 11) 0%, rgba(247, 52, 208) 40%, rgba(210, 166, 11) 100%);

    position: absolute;
    top: 54.9%;
    left: 24.7%;

    transition: 0.8s;
}

.linija-focus {
    width: 50.3%;
    height: 0.15vw;
    background-color: rgba(231, 118, 13, 0.904);

    position: absolute;
    top: 54.9%;
    left: 24.7%;
}

.klaida {
    position: absolute;
    top: 39%;
    left: 20%;
    opacity: 0.0;

    transition: 0.5s;
}

.klaida-on {
    opacity: 0.8;
}